<% if flash[:messages] %>
    <h3><%= pluralize(flash[:messages].count, "error").upcase %>: </h3>
    <ul>
        <% flash[:messages].each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for power do |f| %>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
    <%= f.label :description %><br />
    <%= f.text_area :description %><br />
    <%= f.submit %>
<% end %>