
<% if flash[:messages] %>
  <% flash[:messages].each do |msg|  %>
    <h3>Error: <%= msg %></h3>
  <% end %>
<% end %>

<%= form_for @heroine do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :super_name %>
  <%= f.text_field :super_name %>

  <%= f.collection_select(:power_id, Power.all, :id, :name) %>

  <%= f.submit %>
<% end %>

<h3><%= link_to("<< Back to List", heroines_path) %></h3>