<%= form_for @heroine do |f| %>

<% if flash[:message] %>
<% flash[:message].each do |msg| %>
<p><%= msg %></p>
<%end%>
<%end%>

<%= f.label "Name"%>
<%= f.text_field :name %><br>
<%= f.label "Super Name"%>
<%= f.text_field :super_name %><br>
<%= f.label "Superpower"%>
<%= f.collection_select :power_id, Power.all , :id, :name %><br>
<%= f.submit %>
<%end%>