
<h1><%= @heroine.name %></h1>
<h1><%= @heroine.super_name %></h1>
<h1><%= link_to(@heroine.power.name, power_path(@heroine.power)) %></h1>

<h3>
  <%= link_to("edit", edit_heroine_path(@heroine)) %>
  <%= link_to("delete", heroine_path(@heroine), method: :delete) %>
</h3>

<h3><%= link_to("<< Back to List", heroines_path) %></h3>